@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 24% 13%; /* #1c2128 */
    --foreground: 210 17% 95%; /* #eff2f5 */
 
    --card: 220 23% 18%; /* #242932 */
    --card-foreground: 210 17% 95%; /* #eff2f5 */
 
    --popover: 220 23% 18%; /* #242932 */
    --popover-foreground: 210 17% 95%; /* #eff2f5 */
 
    --primary: 207 45% 45%; /* #30475E */
    --primary-foreground: 210 17% 95%;
 
    --secondary: 220 15% 30%; /* #404653 */
    --secondary-foreground: 210 17% 95%;
 
    --muted: 220 15% 30%; /* #404653 */
    --muted-foreground: 210 10% 70%; /* #acaeb3 */
 
    --accent: 178 44% 58%; /* #61CBC9 */
    --accent-foreground: 222 24% 13%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 220 15% 30%;
    --input: 220 15% 30%;
    --ring: 178 44% 58%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222 24% 13%; /* #1c2128 */
    --foreground: 210 17% 95%; /* #eff2f5 */
 
    --card: 220 23% 18%; /* #242932 */
    --card-foreground: 210 17% 95%; /* #eff2f5 */
 
    --popover: 220 23% 18%; /* #242932 */
    --popover-foreground: 210 17% 95%; /* #eff2f5 */
 
    --primary: 207 45% 45%; /* #30475E */
    --primary-foreground: 210 17% 95%;
 
    --secondary: 220 15% 30%; /* #404653 */
    --secondary-foreground: 210 17% 95%;
 
    --muted: 220 15% 30%; /* #404653 */
    --muted-foreground: 210 10% 70%; /* #acaeb3 */
 
    --accent: 178 44% 58%; /* #61CBC9 */
    --accent-foreground: 222 24% 13%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 220 15% 30%;
    --input: 220 15% 30%;
    --ring: 178 44% 58%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
  section {
    @apply py-20 md:py-28;
  }
}
